<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="f7-icons">chevron_left</i>
          <span>뒤로</span>
        </a>
      </div>
      <div class="title">알람 영어 단어장</div>
      <div class="right">
        <a href="/bbs/add/0" class="link add">
          <i class="f7-icons">plus</i>
          <span>등록</span>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="block">
      <ul class="list media-list post-list">

        <li class="item-content item-input item-input-with-value">
          <div class="item-media"><img src="{{url_for('static',filename='img/discover/alarm_clock.jpg')}}" alt=""></div>
          <div class="item-inner">
            <div class="item-subtitle">알람시간 설정</div>
            <div class="item-input-wrap">
              <input name="date" type="datetime-local" value="2020-09-02T14:16" placeholder="시간을 선택하세요..." class="input-with-value">
            </div>
            <div class="item-body">현재, 알람이 설정되지 않았습니다.</div>
            <div class="item-subtitle bottom-subtitle">
              <button class="col button button-small button-round button-fill">저장</button>
              <a href="/playvoice/0"><button class="col button button-small button-round button-fill">듣기</button></a>
            </div>
          </div>
        </li>

        {% for row in langwords %}
        <li>
          <a href="/bbs/update/{{row.id}}">
            <div class="item-content">
              <div class="item-media"><img src="{{url_for('static',filename='img/discover/word_260x200_1.jpg')}}" alt=""></div>
              <div class="item-inner">
                <div class="item-subtitle">{{row.category}}</div>
                <div class="item-title">{{row.word}}</div>
                <div class="item-body">{{row.memo}}</div>
                <div class="item-subtitle bottom-subtitle"><i class="f7-icons">clock</i>{{row.regdate}}</div>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}


      </ul>
    </div>
  </div>
</div>
