<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>스마트 고양이</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/framework7.bundle.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/framework7-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  </head>
  <body class="color-theme-pink">
    <div id="app">
      <div class="views tabs">
        <!-- Tabbar -->
        <div class="toolbar tabbar tabbar-labels toolbar-bottom">
          <div class="toolbar-inner">
            <a href="#view-today" class="tab-link tab-link-active">
              <i class="f7-icons">today</i>
              <span class="tabbar-label">Today</span>
            </a>
            <a href="#view-categories" class="tab-link">
              <i class="f7-icons">square_grid_2x2_fill</i>
              <span class="tabbar-label">Categories</span>
            </a>
            <a href="#view-discover" class="tab-link">
              <i class="f7-icons">star_fill</i>
              <span class="tabbar-label">Discover</span>
            </a>
            <a href="#view-search" class="tab-link">
              <i class="f7-icons">search</i>
              <span class="tabbar-label">Search</span>
            </a>
            <a href="#view-pages" class="tab-link">
              <i class="f7-icons">square_stack_fill</i>
              <span class="tabbar-label">Pages</span>
            </a>
          </div>
        </div>
        <!-- Main view -->
        {% include 'view_tab_today.html' %}
        
        <!-- Categories View -->
        {% include 'view_tab_categories.html' %}
        
        <!-- Discover View -->
        {% include 'view_tab_discover.html' %}
        
        <!-- Search View -->
        {% include 'view_tab_search.html' %}
        
        <!-- Pages View -->
        {% include 'view_tab_components.html' %}
      </div>
    </div>
    <script src="{{url_for('static',filename='js/framework7.bundle.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/app.js')}}"></script>
  </body>
</html>
