<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span>뒤로</span>
        </a>
      </div>
      <div class="title">고양이 움직이기</div>
    </div>
  </div>
  <div class="page-content">
    <div class="block">
      <div class="title-container">
        <span class="title-date">Moving individually</span>
        <div class="title-with-link">
          <h1>개별동작</h1>
          <button class="col button button-small button-round button-fill">모두 보기</button>
        </div>
      </div>
      <div class="two-columns-cards">
        <a href="/single/">
          <div class="card">
            <img class="card-image" src="{{url_for('static',filename='img/movement/head_updown.gif')}}" alt="">
            <div class="card-infos">
              <h2 class="card-title">고개 상하로 움직이기</h2>
            </div>
          </div>
        </a>
        <a href="/single/">
          <div class="card">
            <img class="card-image" src="{{url_for('static',filename='img/thumb-8.jpg')}}" alt="">
            <div class="card-infos">
              <h2 class="card-title">고개 좌우로 움직이기</h2>
            </div>
          </div>
        </a>
        <a href="/single/">
          <div class="card">
            <img class="card-image" src="{{url_for('static',filename='img/thumb-17.jpg')}}" alt="">
            <div class="card-infos">
              <h2 class="card-title">꼬리 흔들기</h2>
            </div>
          </div>
        </a>
        <a href="/single/">
          <div class="card">
            <img class="card-image" src="{{url_for('static',filename='img/thumb-18.jpg')}}" alt="">
            <div class="card-infos">
              <h2 class="card-title">왼쪽다리 구부렸다가 펴기</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="title-container">
        <span class="title-date">Connection behavior</span>
        <div class="title-with-link">
          <h1>연결동작</h1>
          <button class="col button button-small button-round button-fill">모두 보기</button>
        </div>
      </div>
      <div class="two-columns-cards">
        <a href="/single/">
          <div class="card">
            <img class="card-image" src="{{url_for('static',filename='img/thumb-9.jpg')}}" alt="">
            <div class="card-infos">
              <h2 class="card-title">일어서기 (모든 다리 펴기)</h2>
            </div>
          </div>
        </a>
        <a href="/single/">
          <div class="card">
            <img class="card-image" src="{{url_for('static',filename='img/thumb-6.jpg')}}" alt="">
            <div class="card-infos">
              <h2 class="card-title">납작하게 엎드리기</h2>
            </div>
          </div>
        </a>
        <a href="/single/">
          <div class="card">
            <img class="card-image" src="{{url_for('static',filename='img/thumb-18.jpg')}}" alt="">
            <div class="card-infos">
              <h2 class="card-title">앞으로 3발자국 걸어가기</h2>
            </div>
          </div>
        </a>
        <a href="/single/">
          <div class="card">
            <img class="card-image" src="{{url_for('static',filename='img/thumb-4.jpg')}}" alt="">
            <div class="card-infos">
              <h2 class="card-title">앉기 (뒷다리 구부리고 앞다리 펴기)</h2>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
